html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, .75);
    background: linear-gradient(to right, #e0e0e0, #444444);
}

.controlsContainer {
    background-color: rgba(0, 0, 0, .75);
    color: #444;
    padding: 1.5rem;
}

h5 {
    letter-spacing: normal;
    text-transform: none;
}

form {
    padding: 2rem 0;
    text-align: left;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.colorWheelContainer {
    display: inline-block;
    background: #ffffff;
    border-radius: 100%;
    border: 2px solid black;
}

#colorWheel {
    display: block;
    height: 300px;
    width: 300px;;
    border-radius: 100%;
}

#colorBar {
    display: block;
    width: 20px;
    height: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid black;
    background: linear-gradient(to bottom, white, black);
}

.pickerDot {
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(0, 0, 0, .75);
    border-radius: 100%;
    background: rgba(255, 255, 255, .75);
    cursor: pointer;
}