html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, .75);
    background: linear-gradient(to right, #dc84ff, #2dabff);
}

#wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#wrapper div {
    margin-left: auto;
}

#rightPane {
    display: flex;
    flex-direction: column;
    width: auto;
}

#rightPane button {
    padding: .25em .5em;
    margin: .25em 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background: rgb(53, 53, 53);
    color: white;
    cursor: pointer;
}

#rightPane button:hover {
    background: rgb(61, 61, 61);
}

svg {
    fill: white;
    height: 24px;
    width: 24px;
}

.controlsContainer {
    color: #444;
    padding: 1.5rem;
}

.colorWheelContainer {
    display: inline-block;
    background: #ffffff;
    border-radius: 100%;
    border: 2px solid black;
}

#colorWheel {
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

#colorBar {
    display: block;
    width: 20px;
    height: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid black;
    background: linear-gradient(to bottom, white, black);
}

.pickerDot {
    position: absolute;
    display: inline-block;
    z-index: 9;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(0, 0, 0, .75);
    border-radius: 100%;
    cursor: pointer;
}

.activePickerDot {
    border-color: red;
    z-index: 10;
}